@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

@import "tailwindcss";


:root {
  --font-patua: 'Patua One', system-ui, -apple-system;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}